.hero {
  background-image: url(https://images.unsplash.com/photo-1612157777902-5382bc6e864b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.icon {
  width: 24px;
  height: 24px;
}
.logo {
  width: 96px;
  height: 31px;
  @include hide-text();
  background-image: url(../images/DOYOGA-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-radius-1 {
  border-radius: 16px;
}
.card-img {
  height: 420px;
  object-fit: cover;
  @include mobile {
    height: 252px;
  }
  @include pad {
    height: 420px;
  }
}

.text-left {
  text-align: left;
}

.card-img-2 {
  height: 243px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.icon-lg {
  font-size: 40px;
}

.card-img-3 {
  width: 100%;
  height: 628px;
  object-fit: cover;
}

.card-cross {
  @include pad {
    margin-left: -16%;
  }
}
.card-img-4 {
  width: 100%;
  height: 210px;
  object-fit: cover;
  @include pad {
    height: 444px;
  }
  @include mobile {
    height: 266px;
  }
}

.card-img-5 {
  width: 100%;
  height: 210px;
  object-fit: cover;
  @include pad {
    height: 207px;
  }
  @include mobile {
    height: 117px;
  }
}
.overflow-hidden {
  overflow: hidden;
}
