// 文字大小設定
$font-size-base: 16px;

.font-s {
  font-size: $font-size-base * 0.875;
}
.font-m {
  font-size: $font-size-base * 1;
}
.font-l {
  font-size: $font-size-base * 1.25;
}
.font-xl {
  font-size: $font-size-base * 1.5;
}
.font-2xl {
  font-size: $font-size-base * 1.75;
}
.font-3xl {
  font-size: $font-size-base * 2.25;
}
